/* set global style */
body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

/* style header */
header {
    background-color: rgb(231, 234, 234);
    color: rgb(15, 15, 176);
    padding: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

/* style main section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: auto;
}

section.employees {
    width: 45%;
}

section.employees form {
    margin-top: 20px;
}

section.employees h2 {
    margin-top: 5px;
}

section.employees label {
    display: block;
    margin-bottom: 5px;
}

section.employees button[type="submit"] {
    margin-top: 10px;
}

section.work_station {
    width: 45%;
}

section.work_station ul {
    margin-top: 0;
}

section.work_station ul ul {
    margin-top: 5px;
    padding-left: 20px;
}

/*Style employee table*/
#employee-table {
	border-collapse: collapse;
	width: 100%;
}
.employees th, td {
	text-align: left;
	padding: 8px;
	border: 1px solid rgb(0, 26, 255);
}
.employees th {
	background-color: #f2f2f2;
}

  /* Style employees at work station list */
.employees-at-station {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.employees-at-station li {
    margin-bottom: 5px;
}

.green {
    color: green;
}
/* Style form inputs */
input[type="text"],
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

select option {
  color: #666;
}

/* Style form error messages */
input:invalid,
select:invalid {
  border-color: rgb(0, 26, 255);
}

input:invalid + span,
select:invalid + span {
  color: red;
  font-size: 0.8em;
  margin-left: 5px;
}

/* Style success message */
.success {
  color: green;
  margin-top: 10px;
}